<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Testing Flask.">
    <meta name="author" content="@adityamurthi">
    <title>Testing Flask</title>
</head>
<body>
    <form method='POST' action="/">
        Search <input type="text" placeholder="Search..." name="text">
        Open <input type="checkbox" value="open" name="ticker">
        Low <input type="checkbox" value="low" name="ticker">
        High <input type="checkbox" value="high" name="ticker">
        Close <input type="checkbox" value="close" name="ticker">
        <input type="submit">
    </form>
</body>
</html>
